
@font-face {
  font-family: "build";
  src: url('../fonts/build.ttf') format("truetype");
}

.mariogoghcom {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 819px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(250, 250, 250, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.mariogoghcom .group2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 42px;
  height              : 163px;
  width               : 974px;
  position            : absolute;
  margin              : 0;
  left                : 45px;
}
.mariogoghcom .group2 .group3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 163px;
  width               : 974px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.mariogoghcom .group2 .group3 .g-ogh {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 163px;
  width               : 639px;
  position            : absolute;
  margin              : 0;
  left                : 335px;
}
.mariogoghcom .group2 .group3 .m-ario {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 152px;
  width               : 339px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.mariogoghcom .group4 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 231px;
  height              : 19px;
  width               : 327px;
  position            : absolute;
  margin              : 0;
  left                : 45px;
}
.mariogoghcom .group4 .d-esigner {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 19px;
  width               : 115px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.mariogoghcom .group4 .u-iux {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 18px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 115px;
}
.mariogoghcom .group4 .llustrator {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 19px;
  width               : 157px;
  position            : absolute;
  margin              : 0;
  left                : 170px;
}
.mariogoghcom .b-razilian {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 248px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  font-family         : "build", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  letter-spacing      : 0.9px;
  line-height         : 29.0px;
}
.mariogoghcom .m-aker {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 246px;
  height              : auto;
  width               : 123px;
  position            : absolute;
  margin              : 0;
  left                : 127px;
  font-family         : "Futura-Bold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  letter-spacing      : -2.05px;
  line-height         : 32.0px;
}
.mariogoghcom .l-lustrator1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 248px;
  height              : auto;
  width               : 193px;
  position            : absolute;
  margin              : 0;
  left                : 213px;
  font-family         : "LucidaGrande-Bold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  letter-spacing      : 0.9px;
  line-height         : 28.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}