

.mariogoghcom {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 819px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(0, 0, 0, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.mariogoghcom .group2 {
  background          : rgba(255, 255, 255, 0.0);
  pointer-events      : auto;
  min-height          : 48px;
  height              : 100%;
  width               : 1344px;
  min-width           : 286px;
  position            : relative;
}
.mariogoghcom .group2-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 297px;
  align-items         : center;
  height              : 225px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.mariogoghcom .group2 .group3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 225px;
  width               : 1344px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.mariogoghcom .group2 .group3 .g-ogh {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 225px;
  width               : 880px;
  position            : absolute;
  margin              : 0;
  left                : 464px;
}
.mariogoghcom .group2 .group3 .m-ario {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : 210px;
  width               : 469px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.mariogoghcom .icon-active-twitter {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 570px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
}
.mariogoghcom .icon-active-twitter .hover {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transition          : all 0.2s ease-in-out;
}
.mariogoghcom .icon-active-twitter .hover:hover {
  opacity             : 0;
}
.mariogoghcom .icon-active-twitter .active {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transition          : all 0.2s ease-in-out;
}
.mariogoghcom .icon-active-twitter .active:hover {
  opacity             : 0;
}
.mariogoghcom .icon-active-twitter-copy {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 570px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
}
.mariogoghcom .icon-active-twitter-copy .hover1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transition          : all 0.2s ease-in-out;
}
.mariogoghcom .icon-active-twitter-copy .hover1:hover {
  opacity             : 0;
}
.mariogoghcom .icon-active-twitter-copy .active1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transition          : all 0.2s ease-in-out;
}
.mariogoghcom .icon-active-twitter-copy .active1:hover {
  opacity             : 0;
}
.mariogoghcom .icon-active-twitter-copy2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 570px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 112px;
}
.mariogoghcom .icon-active-twitter-copy2 .hover2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transition          : all 0.2s ease-in-out;
}
.mariogoghcom .icon-active-twitter-copy2 .hover2:hover {
  opacity             : 0;
}
.mariogoghcom .icon-active-twitter-copy2 .active2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transition          : all 0.2s ease-in-out;
}
.mariogoghcom .icon-active-twitter-copy2 .active2:hover {
  opacity             : 0;
}
.mariogoghcom .icon-active-twitter-copy3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 570px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 144px;
}
.mariogoghcom .icon-active-twitter-copy3 .hover3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transition          : all 0.2s ease-in-out;
}
.mariogoghcom .icon-active-twitter-copy3 .hover3:hover {
  opacity             : 0;
}
.mariogoghcom .icon-active-twitter-copy3 .active3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transition          : all 0.2s ease-in-out;
}
.mariogoghcom .icon-active-twitter-copy3 .active3:hover {
  opacity             : 0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}