/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 10px;
    padding-right: 30px;
    padding-bottom: 0px;
    text-decoration: none;
    font-size: 14px;
    font-family: BrandonGrotesque-Regular;
	letter-spacing: -0.1px;
	line-height: 12px;
    
}

/* Change the color of links on hover */
.topnav a:hover {
    color: grey;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.header{
	 width: auto;
  	background-position: 50% 50%;
    background-size: cover;
    height: 60vh;
    border: 25px solid #fff;
    padding: 100px;
    background-color: #000000;

}

h1{
	font-family: BrandonGrotesque-Regular;
	color: #FFFFFF;
	letter-spacing: -0.1px;
	line-height: 70px;
	font-size: 90px;
	letter-spacing: -0.1px;
	text-align: left;
	color: #ffffff;
	padding-left: auto;
	margin-top: auto;
}


a.link{
	font-family: BrandonGrotesque-Regular;
	color: #FFFFFF;
	color: blue;
}

img {
   max-width: 100%;
}


/* Desktop View */



/* tablet View */ 

	@media (max-width: 768px) {
		
	h1 {
	color: #ffffff;
	font-size: 50px;
	line-height: 40px;
	}

	a.link{
	font-size: 50px;
	color: red;
	}

	.header{
	background-color: black;
	width: auto;
  background-position: 50% 50%;
  background-size: cover;
  height: 60vh;
  border: 20px solid #fff;
  padding: 80px;
	}

	.topnav a:not(:first-child) {display: right;;}
  	.topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: right;
    display: block;
    text-align: right;
  }
}

/* Mobile View */

@media (max-width: 480px) {
		
	h1 {
	color: #ffffff;
	font-size: 40px;
	}

	a.link{
	font-size: 40px;
	color: red;
	}

	.header{
	background-color: black;
	width: auto;
  background-position: 50% 50%;
  background-size: cover;
  height: 60vh;
  border: 10px solid #fff;
  padding: 40px;
	}


}

