.header{

	width: auto;
  	background-position: 50% 50%;
    background-size: cover;
    height: 60vh;
    border: 45px solid #fff;
    padding: 80px;
    background-color: #000000;

}

h1{
	font-family: helvetica;
	text-align: left;
	color: #ffffff;
	padding-left: auto;
	font-size: 90px;
	margin-top: 10%;
}


a.link{
	font-family: helvetica;
	font-size: 90px;
	color: red;
}

img {
   max-width: 100%;
}


/* Desktop View */



/* tablet View */ 

	@media (max-width: 768px) {
		
	h1 {
	color: #ffffff;
	font-size: 50px;
	}

	a.link{
	font-family: helvetica;
	font-size: 50px;
	color: red;
	}

	.header{
	background-color: black;
	width: auto;
  	background-position: 50% 50%;
    background-size: cover;
    height: 60vh;
    border: 20px solid #fff;
    padding: 80px;
	}
}

/* Mobile View */

@media (max-width: 480px) {
		
	h1 {
	color: #ffffff;
	font-size: 40px;
	}

	a.link{
	font-family: helvetica;
	font-size: 40px;
	color: red;
	}

	.header{
	background-color: black;
	width: auto;
  	background-position: 50% 50%;
    background-size: cover;
    height: 60vh;
    border: 10px solid #fff;
    padding: 40px;
	}
}

