/* unvisited link */

.button {
  letter-spacing: 0em;
  transition-duration: 0.4s;
  background-color: transparent;
  color: var(--main-w-50);
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  display: inline-block;
  opacity: 1;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 8px;
  color: var(--main-w-50);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 139%;
  /* or 33px */
  letter-spacing: -0.03em;
}

.button .normal {
  font-size: 24px;
  width: 400px;
}

/* visited link */

.button:visited {
  color: var(--main-w-50);
  opacity: 0.9;
}

/* mouse over link */

.button:hover {
  color: var(--main-w-100);
  opacity: 0.8;
  border-bottom: 3px solid var(--links-color100);
  text-decoration: bold;
}

/* selected link */

.button:active {
  border: none;
  outline: none;
  text-decoration: bold;
  color: var(--main-w-100);
}

.button:focus {
  border: none;
  border-bottom: 3px solid var(--links-color100);
  outline: none;
  text-decoration: bold;
}

.active {
  opacity: 0.9;
  border-bottom: 3px solid var(--links-color100);
  color: var(--main-w-100);
}

.disable {
  opacity: 0.2;
}

/* FOOTER LINKS */

.button-huge {
  display: inline-block;
  border: none;

  transition-duration: 0.9s;
  background-color: transparent;
  color: var(--main-w-50);
  border: none;
  border-bottom: 1px solid transparent;
  cursor: url("https://cdn.glitch.com/834fa98e-ba51-4bb5-b1ee-3b506c1833c8%2F0be45a09-7125-4325-95a5-3f32f1f48968_maozinha.png?v=1610492124794"),
    auto;
  display: inline-block;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 8px;
}

.button-huge span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.9s;
}

.button-huge span:after {
  content: "·";
  color: var(--links-color100);
  position: absolute;
  opacity: 0;
  top: 0;
  right: -8px;
  transition: 0.9s;
}

.button-huge:hover span {
  padding-right: 128px;
}

.button-huge:hover span:after {
  color: var(--main-color);
  opacity: 0.9;
  border-bottom: 3px solid white;
}

.button-white {
  font-size: 24px;
  letter-spacing: 0em;
  font-weight: 500;
  font-weight: bold;
  transition-duration: 0.4s;
  background-color: transparent;
  color: var(--main-w-50);
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  display: inline-block;
  opacity: 1;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 8px;
  font-family: var(--main-font);
}

@media (max-width: 600px) {
  .button {
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
