.navbar .button {
    font-size: 18px;
    font-weight: semi-bold;
    letter-spacing: -0.00em;
    text-decoration: none;
}

.navbar .active {
    font-weight: bold;
    letter-spacing: -0.00em;
    text-decoration: none;
    color: var(--main-100);
}

.button {
    color: var(--main-100);
    font-family: var(--body-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: -0.00em;
    border-bottom: 1px solid transparent;
    text-decoration: underline;
    /* or 33px */
}

.button-white {
    color: var(--hero-text);
}

svg:hover {
    fill-opacity: "1.9";
}


/* visited link */

.button:visited {
    color: var(--main-100);
}


/* mouse over link */

.button:hover {
    color: var(--main-50);
    opacity: 0.8;
    transition: color 1s;
    transition: border-bottom 1s;
    border-bottom: 1px solid var(--hero-text);
}


/* selected link */

.button:active {
    border: none;
    outline: none;
    color: var(--main-100);
}

.button:focus {
    color: var(--main-100);
    border: none;
    border-bottom: 1px solid var(--hero-text);
    outline: none;
}

.active {
    border-bottom: 1px solid var(--hero-text);
    font-weight: bold;
    transition-duration: 0.4s;
    color: var(--main-100);
}

.disable {
    opacity: 0.2;
}

.huge {
    font-size: 32px;
}


/* FOOTER LINKS */

.hugelink a {
    font-size: 5vw;
    letter-spacing: -0.06em;
    height: 7vw;
    padding-left: 0px;
    padding-right: 0px;
}

.hugelink h1 {
    letter-spacing: -0.06em;
}

.button-huge {
    display: inline-block;
    border: none;
    transition-duration: 0.9s;
    background-color: transparent;
    color: var(--main-w-50);
    border: none;
    border-bottom: 1px solid transparent;
    cursor: url("https://cdn.glitch.com/834fa98e-ba51-4bb5-b1ee-3b506c1833c8%2F0be45a09-7125-4325-95a5-3f32f1f48968_maozinha.png?v=1610492124794"), auto;
    display: inline-block;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 8px;
}

.button-huge span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.9s;
}

.button-huge span:after {
    content: "·";
    color: var(--hero-text);
    position: absolute;
    opacity: 0;
    top: 0;
    right: -8px;
    transition: 0.9s;
}

.button-huge:hover span {
    padding-right: 128px;
}

.button-huge:hover span:after {
    color: var(--hero-text);
    opacity: 0.9;
    border-bottom: 1px solid white;
}

@media (max-width: 600px) {
    .button {
        padding-bottom: px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 16px;
    }
    .hugelink a {
        font-size: 9vw;
        height: 6.8vh;
        transition-duration: 0.4s;
        padding-top: 10px;
        height: 70px;
        padding-bottom: 8px;
    }
}

.button mailto {
    color: var(--hero-text);
}

.button mailto:hover {
    color: var(--hero-text);
}