body {
    background: var(--main-w-100);
    transition: background 1s ease;
    color: var(--main-100);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility !important;
    font-family: var(--main-font), var(--hero-font), var(--hero-font-2) sans-serif;
}

html {
    scroll-behavior: smooth;
}

.GlobalPadding {
    padding: 8%;
    margin: auto;
    background: var(--main-w-100);
    transition: background 5s ease;
}

img {
    opacity: 1;
    transition: transform 0.5s ease;
    cursor: var(--cursor-img);
}

.all-content {
    margin: 0 auto;
    transition: background 5s ease;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.space300 {
    width: 100%;
    height: 300px;
}

.space200 {
    width: 100%;
    height: 200px;
}

.space100 {
    width: 100%;
    height: 100px;
}

.space50 {
    width: 100%;
    height: 50px;
}

.space24 {
    width: 100%;
    height: 24px;
}

.arrow {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 64px;
    padding-top: 32px;
    padding-left: 30px;
    display: flex;
    align-items: center;
}


/* Os itens não se expandem para ocupar o container. */

.grow0 {
    flex-grow: 0;
}


/* Os itens se expandem igualmente para ocupar o container. Utilizando apenas o flex-grow, o crescimento é distribuído igualmente antes e depois do conteúdo de cada elemento. (pois por padrão o flex-basis é auto) */

.grow1 {
    flex-grow: 1;
}


/* Os itens se expandem duas vezes mais que aqueles com flex-grow: 1; */

.grow2 {
    flex-grow: 2;
}

* {
    box-sizing: border-box;
}

.arrow :last-child {
    padding: 200px;
}

.hero .card :first-child {
    padding-right: 32px;
}

.card-image {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 16px;
}

.color1 {
    background: #EE4DA2;
}

.color2 {
    background: #ffffff;
}

.color3 {
    background: #EFB8D5;
}

.card-image-hero {
    width: 50%;
    height: auto;
    padding-top: 48px;
}

.hero3 {
    width: 100%;
    height: auto;
    padding-top: 72px;
    display: flex;
    text-align: left;
    flex-direction: row;
}

@media (max-width: 600px) {
    .GlobalPadding {
        padding: 4%;
        margin: auto;
    }
    .space300 {
        width: 100%;
        height: 150px;
    }
    .space200 {
        width: 100%;
        height: 100px;
    }
    .space100 {
        width: 100%;
        height: 50px;
    }
    .space50 {
        width: 100%;
        height: 24px;
    }
    .space24 {
        width: 100%;
        height: 12px;
    }
}

html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.newheader {
    display: flex;
    width: 100%;
    height: 120vh;
    bottom: 73.14%;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 10;
    position: sticky;
    align-items: flex-end;
    transition: background 5s ease;
    overflow: hidden;
}

.type-L {
    position: absolute;
    width: 100vw;
    justify-content: flex-start;
    top: 4vh;
    text-align: left;
    display: flex;
    left: -0.9%;
    padding: 16px;
    display: flex;
    align-items: flex-start;
}

.type-R {
    width: 100vw;
    position: absolute;
    text-align: right;
    top: 44vh;
    right: 2%;
    padding: 16px;
    align-items: flex-end;
}

.caption {
    position: absolute;
    justify-content: center;
    color: var(--hero-accent);
    display: flex;
    height: 65px;
    right: 72.6%;
    top: 9%;
}

.caption p {
    font-size: 16px;
    transform: rotate(-15deg);
    color: var(--hero-accent);
}

@media (max-width: 1440px) {
    .newheader {
        width: 100%;
        height: 100vh;
        position: relative;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .type-L {
        width: 100%;
        top: 12%;
    }
    .type-R {
        width: 100%;
        top: 48%;
    }
    .type-L h2 {
        text-align: left;
        font-size: 30vw;
    }
    .type-R h2 {
        text-align: right;
        font-size: 30vw;
    }
    .caption {
        top: 5%;
    }
}

@media (max-width: 1366px) {
    .newheader {
        width: 100%;
        height: 100vh;
        position: relative;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .type-L {
        width: 100%;
        top: 14%;
    }
    .type-L h2 {
        text-align: left;
        font-size: 30vw;
    }
    .type-R h2 {
        text-align: right;
        font-size: 30vw;
    }
    .caption {
        top: 5%;
    }
}

@media (max-width: 1024px) {
    .newheader {
        width: 100%;
        height: 100vh;
        position: relative;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .type-L h2 {
        text-align: left;
        font-size: 30vw;
    }
    .type-R h2 {
        text-align: right;
        font-size: 30vw;
    }
    .caption {
        top: 5%;
    }
    .type-L {
        width: 100%;
        justify-content: left;
        position: absolute;
        top: 149%;
        right: 0%;
        left: -3%;
        padding: 16px;
        align-items: flex-end;
    }
    .type-R {
        width: 100%;
        justify-content: right;
        position: absolute;
        text-align: center;
        top: 40%;
        right: 0%;
        left: -2%;
        padding: 16px;
        align-items: flex-end;
    }
}

@media (max-width: 1280px) {
    .newheader {
        width: 100%;
        height: 100vh;
        position: relative;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .type-L {
        width: 100%;
        top: 25%;
    }
    .type-R {
        width: 100%;
        top: 48%;
    }
    .type-L h2 {
        text-align: left;
        font-size: 26vw;
    }
    .type-R h2 {
        text-align: right;
        font-size: 26vw;
    }
    .caption {
        top: 5%;
    }
}

@media (max-width: 600px) {
    .newheader {
        width: 100%;
        height: 100vh;
        position: relative;
        justify-content: space-around;
        align-items: flex-end;
    }
    .type-L {
        width: 100%;
        justify-content: left;
        position: absolute;
        top: -3%;
        right: 90%;
        left: -10%;
        padding: 16px;
        align-items: flex-end;
    }
    .type-L h2 {
        text-align: left;
        font-size: 42.7vw;
    }
    .type-R h2 {
        text-align: right;
        font-size: 42.7vw;
    }
    .type-R {
        width: 100%;
        justify-content: right;
        position: absolute;
        text-align: center;
        top: 56%;
        right: 78%;
        left: -0%;
        padding: 16px;
        align-items: flex-end;
    }
    .caption {
        position: none;
        justify-content: left;
        display: flex;
        width: 100%;
        height: 400px;
        color: white;
        padding: 4px;
        right: 0%;
        left: 64px;
        padding-left: 24px;
        top: 48%;
    }
    .caption p {
        color: white;
        font-size: 16px;
    }
    .remove br {
        display: none;
    }
}

@media (max-width:375px) {
    .type-L h2 {
        top: 68%;
        text-align: left;
        font-size: 35.7vw;
    }
    .type-R h2 {
        text-align: right;
        font-size: 35.7vw;
    }
    .caption {
        padding-left: 88px;
    }
    .GlobalPadding {
        padding: 2%;
        margin: auto;
    }
}