.section-footer {
    z-index: 2;
    height: 24px;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0px;
}

.box1 br {
    display: none;
}

.section-footer p {
    font-size: 16px;
}

.section-footer a {
    font-size: 16px;
    color: var(--main-50);
}

.padding-footer .content-in-line {
    padding-left: 0px;
    padding-right: 0px;
}

.box1 {
    width: 50%;
    display: flex;
    padding-right: 24px;
}

.box2 {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.uppercase {
    text-transform: uppercase;
    color: var(--main-100);
}

.padding-footer {
    padding: 0px;
}

.footer-links {
    padding-right: 0px;
}

.footer br {
    display: none;
}

.bg-div {
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
}

.bg-div .header {
    display: none;
}

.bg-div .box-R,
.Box-L {
    padding-left: 24px;
    padding-right: 24px;
}

.footer {
    position: sticky;
    font-size: 16px;
}

.social-links {
    width: 100%;
    height: 48px;
}

.wide a {
    font-size: 16px;
}

.footer .button {
    font-size: 16px;
}

.footer p {
    font-size: 16px;
    letter-spacing: 0em;
}

.footer a {
    font-size: 16px;
    letter-spacing: 0em;
}

.main-hero2-footer {
    width: 103%;
    height: 100%;
    padding-left: 0px;
    z-index: 5;
    top: 32px;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: 0.2s ease-in-out;
    transition: transform 0.9s ease;
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.content-full-screen-footer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.9s ease;
    opacity: 1;
    scale: (1.9);
    position: sticky;
    top: 0;
    z-index: 5;
}

.footer div {
    display: flex;
    justify-content: space-between;
}

.wide {
    width: 46.5vw;
    height: 48px;
}

.wide .button {
    height: 48px;
}

.wide p {
    font-family: var(--main-font);
}

.wide br {
    display: none;
}

.desktop-footer {
    display: show;
}

.mobile-footer {
    display: none;
    position: relative;
    top: 16px;
}

.img-footer {
    width: 100%;
    height: 50vh;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    opacity: 1;
    align-content: flex-start;
    object-fit: cover;
    background-size: cover;
    top: -2px;
    position: relative;
}

.img-footer img {
    width: 99%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}

.img-footer-img2 {
    width: 100%;
    height: 100%;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

@media (max-width: 600px) {
    .section-footer {
        width: 100%;
        height: 100%;
        z-index: 2;
        position: sticky;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        padding: 24px;
    }
    .section-footer p {
        font-size: 14px;
    }
    .section-footer a {
        font-size: 14px;
    }
    .box1 {
        width: 100%;
        display: block;
        padding-right: 24px;
        padding-bottom: 64px;
    }
    .box1 br {
        display: show;
    }
    .box2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 64px;
    }
    .box2 a {
        padding-right: 24px;
    }
    .footer {
        width: 100%;
        padding-left: 24px;
        padding-right: 0px;
        padding-bottom: 16vh;
        font-size: 16px;
    }
    .footer .social-links {
        width: ;
        flex-wrap: wrap;
        padding-bottom: 32%;
    }
    .footer p {
        font-size: 16px;
    }
    .footer .button {
        font-size: 16px;
    }
    .footer .social-links {
        font-size: 16px;
    }
    .footer .links:last-child {
        padding-left: 0%;
    }
    .wide {
        width: 100%;
        height: 48px;
    }
    .wide br {
        display: inline;
    }
    .links:last-child {
        padding-left: 48px;
    }
    .footer .space50 {
        height: 10%;
    }
    .footer .button {
        padding-bottom: 0px;
    }
    .footer div {
        display: flex;
        justify-content: space-between;
    }
    .footer .space200 {
        width: 100%;
        height: 50px;
    }
    .content-about h1 {
        padding-left: 24px;
    }
    .img-footer {
        top: -2px;
        height: 100%;
    }
    .img-footer-img2 {
        height: 100%;
        margin-left: 0px;
        margin-left: 0px;
    }
    .desktop-footer {
        display: none;
    }
    .mobile-footer {
        display: inline;
        position: relative;
        top: 16px;
    }
    .footer br {
        display: block;
    }
}