footer {
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 64px;
  padding-top: 16px;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
  color: var(--main-w-50);
  flex-wrap: wrap;
}

.content-full-screen .button {
  color: var(--main-w-50);
}

.footer-mail {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  padding-right: 0px;
  transition: opacity 0.2s ease-in-out;
  transition: transform 0.9s ease;
  opacity: 1;
  scale: (1.9);
}

.main-hero2-footer {
  width: 103%;
  height: 100%;
  padding-left: 0px;
  top: 32px;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.2s ease-in-out;
  transition: transform 0.9s ease;
  object-fit: cover;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.content-full-screen .button:hover {
  opacity: 0.8;
  border-bottom: 3px solid var(--main-w-100);
}

.BG-Color {
  background: var(--links-color100);
  color: var(--main-w-100);
  z-indez: 3;
}

.content-full-screen-footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--main-w-100);
  transition: transform 0.9s ease;
  opacity: 1;
  scale: (1.9);
  position: sticky;
  top: 0;
  z-index: 2;
}

footer .links {
  font-family: var(--main-font);
  color: var(--main-w-50);
}

footer a {
  font-family: var(--main-font);
  color: var(--main-w-50);
}

footer p {
  font-family: var(--main-font);
  color: var(--main-w-50);
}

footer .button {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 139%;
  /* or 33px */
  letter-spacing: -0.03em;
  color: var(--main-w-50);
}

footer div {
  display: flex;
  justify-content: space-between;
}

.wide {
  width: 48.5vw;
  color: var(--main-w-50);
}

.wide p {
  font-family: var(--main-font);
  color: var(--main-w-50);
}

.wide br {
  display: none;
}

@media (max-width: 600px) {
  footer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    width: 50%;
    padding-bottom: 64px;
  }

  footer .social-links {
    width: 50%;
    flex-wrap: wrap;
    padding-bottom: 32px;
  }

  .wide {
    width: 90vw;
  }
  .wide br {
    display: flex;
  }

  .links:last-child {
    padding-left: 64px;
    width: 22px;
  }

  footer .space50 {
    height: 10%;
  }

  footer .button {
    padding-bottom: 0px;
  }
  footer div {
    display: flex;
    justify-content: space-between;
  }

  footer .space200 {
    width: 100%;
    height: 50px;
  }

  .content-about h1 {
    padding-left: 24px;
  }
}
