header {
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 8px;
    padding-bottom: 16px;
    position: fixed;
    width: 100%;
    height: 52px;
    margin: 0 auto;
    font-size: 12px;
    z-index: 4;
}

.box-logo {
    width: 50%;
    height: 50%;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 24px;
    padding-bottom: 0px;
    background: var(--main-w-100);
}

.box-links {
    display: flex;
    width: 50%;
    height: 46px;
    background: var(--main-w-100);
    padding-top: 16px;
    justify-content: flex-start;
    z-index: 3;
    position: relative;
}

#navbar {
    align-items: center;
    position: fixed;
    background: var(--main-w-100);
    top: -64px;
    display: block;
    width: 100%;
    height: 46px;
    transition: top 0.5s;
    /* Transition effect when sliding down (and up) */
    display: block;
    transition-delay: 2.5s;
    z-index: 3;
}

#navbar a {}

#navbar a:hover {}

.svg-left {
    padding-left: 26px;
}

header div {
    display: flex;
    justify-content: space-between;
}

.links {
    padding-right: 32px;
}

.links:last-child {
    margin-right: 90px;
}

#navbar:first-child {}

#navbar:last-child {}

@media (max-width: 600px) {
    #navbar {
        width: 100%;
        height: 32px;
        padding: 1%;
    }
    .links {
        padding-right: 16px;
        font-size: 18px;
    }
    .box-links {
        width: 70%;
        padding-top: 11px;
    }
    #navbar .button {
        padding-bottom: 8px;
        font-size: 12px;
    }
    #navbar .button {
        font-size: 12px;
    }
    #navbar .links:last-child {
        padding-left: 32px;
        width: 22px;
    }
    .box-logo {
        width: 50%;
        height: 38px;
        padding: 4%;
        position: relative;
        top: 11px;
        padding-top: 2px;
    }
}