.home-cover {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 13;
  transition: background 0.2s ease;
  position: relative;
  color: var(--main-w-100);
  flex-direction: column;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;
  text-align: center;
  padding-left: 0%;
  margin: 0 auto;
  top: 5vh;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  color: var(--main-w-100);
}

.cover h11 {
  color: var(--main-w-100);
  font-size: 23.5vw;
  position: relative;
  left: -24px;
  top: -4vh;
  overflow: hidden;
}

.home-cover p {
  color: var(--main-w-50);
  font-size: 24px;
  position: relative;
  left: -24px;
  top: -16px;
}

.home-cover links {
  color: var(--main-w-50);
}

.logo-svg {
  width: 150px;
}

.home-cover .box-R {
  padding-left: 24px;
    padding-top: 64px;
}


.home-cover .box-L {
  padding-left: 24px;
    padding-top: 38px;
}

.svg-arrow {
  display: flex;
  top: 2vh;
  margin: 0 auto;

  stroke: var(--main-50);
  margin: auto;

  padding: 10px;
}

@media (max-width: 600px) {
  .home-cover {
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 13;
    transition: background 0.2s ease;
    position: relative;
  }

  .cover h11 {
    font-size: 22.8vw;
    position: relative;
    left: -5px;
    top: 2px;
  }

  .home-cover .box-R {
    top: -60%;
    left: 24px;
    position: relative;
padding-top: 70px;
  }

  .home-cover .box-L {
    position: relative;
  }

  .home-cover .section-hero-elements {
    height: 32vh;
  }

  .cover-svg svg {
    display: flex;
    margin: 0 auto;
    width: 100%;
    top: 100px;
    stroke: var(--main-50);
  }

  .cover-svg {
    padding-top: 24%;
  }

  .cover {
    top: 10vh;
  }

  .cover .space200 {
    width: 100%;
    height: 200px;
  }
}
