a {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 132%;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

a:visited {
  opacity: 70px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: bold;
}

a .links {
}

@media (max-width: 600px) {
  .link {
    font-size: 18px;
  }
}
