a {
  font-size: 16px;
  color: var(--main-w-50);
  font-style: normal;
  letter-spacing: -0.09em;
  text-decoration: none;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  line-height: 105.5%;
  /* or 13px */
  text-align: center;
  letter-spacing: -0.02em;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: var(--main-w-50);
  opacity: 70px;
  text-decoration: none;
}

a:hover {
  color: var(--main-w-100);
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.link {
  color: var(--main-w-100);
}


