.grid {
  transition: transform 0.5s ease;
  opacity: 0.9;
}

.grid:hover {
  transform: scale(1.04);
  opacity: 1;
  cursor: var(--cursor);
}

.section-hero-elements .masonry {
  height: 100%;
}

.masonry {
  columns: 4;
  column-gap: 16px;
  width: 100%;
  margin-top: 16px;
  padding-left: 0px;
  padding-right: 0px;
}

.lab {
  columns: 3;
  padding-left: 0px;
  padding-right: 0px;
  column-gap: 64px;
  flex-direction: column;
  flex-flow: row wrap;
  align-items: left;
  display: flex;
  flex-wrap: wrap;
}

.lab .grid:nth-child(even) {
  right: 105%;
  position: relative;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-right: 0px;
    padding-left: 28px;
}

.grid-left {
  padding-right: 8px;

}

@media (max-width: 1200px) {
  .masonry {
    columns: 3;
  }
  .lab .grid:nth-child(even) {
    right: 0%;
    position: relative;
  }

  .grid-left {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 992px) {
  .masonry {
    columns: 2;
  }

  .lab .grid:nth-child(even) {
    right: 0%;
    position: relative;
  }

  .grid-left {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 600px) {
  .masonry {
    columns: 2;
    padding-left: 0px;
    padding-right: 0px;
  }

  .lab .grid:nth-child(even) {
    right: 0%;
    position: relative;
  }

  .grid-left {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.masonry .grid {
  display: inline-block;
  margin-bottom: 8px;
  position: relative;
  margin-top: 8px;
}
.masonry .grid:before {
  border-radius: 5px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.masonry .grid img {
  width: 100%;
}
.masonry .grid__title {
  font-size: 28px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}
.masonry .grid__author {
  font-size: 14px;
  font-weight: 300;
}
.masonry .grid__link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: var(--cursor);
}

.grid__link p {
  font-size: 14px;
}

.grid__link a {
  font-size: 14px;
}

.masonry .grid__body {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 0;
  padding: 64px 64px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.masonry .grid__tag {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 5px;
}

.mt-auto {
  margin-top: auto;
}
