/* This goes in the Custom CSS area of the HTML block */

@media screen and (min-width: 768px) {
    .yt-wrapper {
        overflow: hidden;
        max-width: 100%;

    }

    .yt-frame-container {
        position: relative;
        padding-bottom: 56.25%;
        border-radius: 2px;
        width: 500%;
        cursor: var(--cursor);

    }

    .yt-frame-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
}

@media screen and (max-width: 767px) {
    .yt-frame-container iframe {
        aspect-ratio: 16/9;
        pointer-events: none;
    }
}




/* Step 1: start with resetting some defaults */

* {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}


.masonry {}

.grid-lab {}

.grid-item .video {
    height: auto;
    position: absolute;
    overflow: hidden;
    max-width: 100%;
    position: relative;
    width: 300%;
    cursor: var(--cursor);

}

.grid-item .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

/* Step 2: center things inside the grid and clear some space around it by setting a device based max-width and margin*/

.grid {
    text-align: left;
    max-width: 100vw;
    margin: 90.vw auto;
    padding: 90.vw auto;
    align-items: top;
    justify-content: center;
    transition: transform 0.5s ease;
    display: flex;
    position: relative;






}


/* Step 3: how big should the gap be between grid items? remember that the total gap between two items would be double what you set here since both would have that amount set as their individual padding. Also add box-sizing:border-box to make sure the padding doesn't affect the total widh of the item */

.grid-item {
    padding: 100%;
    width: 100vw;
    box-sizing: border-box;
    display: inline;
    transition: transform 0.5s ease;

    position: absolute;

}

.text-lab {
    padding: 8px;
}

.text-lab p {
    font-size: 16px;
}


/* Step 4: Add media queries (subjective) to make the whole grid resposive. */

@media (min-width: 500px) {
    .grid-item {
        width: 50%;

    }

    .grid-lab {}
}



@media (min-width: 375px) {
    .grid-lab {}
}

.grid-item {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-top: 0px;
}


@media (min-width: 1000px) {
    .grid-item {
        width: 33.333%;
        padding: 8px;
    }

    .grid-lab {}
}

@media (min-width: 1700px) {
    .grid-item {
        width: 25%;

    }

    .grid-lab {}
}

@media (min-width: 2100px) {
    .grid-item {
        width: 20%;
        padding: 8px;
    }

    .grid-lab {}
}