@import url("https://use.typekit.net/guy1mtr.css");

@import url("https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --main-color: #000000;
  --main-span: rgba(0, 0, 0, 0.3);
  --pane-padding: 5px 42px;
  --main-font: AktivGrotesk-regular, sans-serif;
  --main-font-bold: AktivGrotesk, sans-serif;
  font-weight: 800;

  --sec-font: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;

  --main-100: #000000;
  --main-50: rgba(0, 0, 0, 0.5);
  --main-25: rgba(0, 0, 0, 0.25);

  --main-w-100: #FFFFFF;
  --main-w-90: rgba(255, 255, 255, 0.8);
  --main-w-50: rgba(255, 255, 255, 0.5);
  --main-w-25: rgba(255, 255, 255, 0.25);
  --main-w-5: rgba(255, 255, 255, 0.1.9);

  --links-color100: #DD3825;
  --links-color50: rgba(247, 92, 26, 0.5);
  --links-color10: rgba(247, 92, 26, 0.25);

--Type-color-pink:#F2BAD7;
}
