/* CSS files add styling rules to your content */


* {
    box-sizing: border-box;
}


.portfolio {
    padding-left: 52px;
}

.brandproject {
    padding: 8px;
    padding-left: 0px;
    padding-top: 0px;
    width: 52px;
}


.carousele {


    padding: 50px;
    border-radius: 20px;
}


.carousele .active:hover {
    border-bottom: 0px solid;
}

.slideshow-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 90vw;
    max-height: 932%;
    /* Defina um tamanho máximo para o container */

    cursor: var(--cursor);
}

@media (max-width: 768px) {


    .slideshow-container {
        max-height: 80vh;

    }
}

@media (max-width: 500px) {

    .carousele {
        padding: 28px;
    }


    .slideshow-container {
        max-height: 70vh;

    }
}

.slide {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2px;
    /* Altura fixa para o slide */


}

.slide img {
    width: 100%;
    height: 90vh;
    /* Mantém a proporção da imagem */
    object-fit: cover;
}

.video {
    cursor: var(--cursor);
    width: 100%;
    height: 90vh;
    /* Match the height of the .slide class */
    margin-bottom: 3px;
    display: block;
    object-fit: cover;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0);
    object-position: 50% 50%;
}


.carousel-image {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-image.active {
    opacity: 1;
}




.slide_grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;

}

.item {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
}



.slide-grid .item {

    /* Dois itens lado a lado com espaçamento */
    background-color: #f0f0f0;

    /* Altura fixa para os itens da grid */
    display: flex;
    justify-content: center;
    align-items: center;
}


.prev,
.next {
    cursor: var(--cursor);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: rgba(255, 255, 255, 0.229);
    font-size: 32px;
    font-family: font-family: var(--body-font);
    font-weight: 300;
    user-select: none;
    z-index: 10;
    border-radius: 8px;

}

.prev {
    left: 10px;
    border-radius: 8px;
}

.next {
    right: 10px;
    border-radius: 8px;
}

.progress-bars {
    width: 50%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: -32px;

    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: flex-end;
    align-items: center;
    gap: 5px;
    cursor: var(--cursor);

}

.progress-bar {
    width: 32%;
    height: 2px;
    background-color: #ffffff3c;

    transition: background-color 0.3s ease;
    border-radius: 1px;
    cursor: var(--cursor);
}

.progress-bar.active {
    background-color: #ffffff;


}



.slideshow-container img {
    text-decoration: none;
    border: none;
    background-size: cover;
    background-position: center;
    opacity: 1;
    /* Remove underline */
}

.slideshow-container img:hover {
    text-decoration: none;
    opacity: 1;
    border: none;

    /* Ensure no underline on hover */
}


@media screen and (max-width: 768px) {
    .slideshow-container img {
        width: 100%;
        height: auto;
        max-height: 90vh;
        /* Ajusta a altura máxima para telas menores */
    }

    .video {
        width: 100%;
        height: auto;
        max-height: 90vh;
        min-height: 23vh;
    }

    .slide img {
        width: 100%;
        height: auto;
        max-height: 90vh;
    }

    .slide-grid .item {
        width: 100%;
        height: auto;
        max-height: 90vh;
    }

    .portfolio {
        padding: 0px;
    }

    .prev,
    .next {
        padding: 8px;
        font-size: 14px;
    }

}