.thumb_section {
    width: 100%;
    height: 100%;
    align-items: center;
}

.thumb_frame {
    position: relative;
    padding-right: 4%;
    cursor: pointer;
}

.thumb_frame:nth-child(2n) {
    padding-top: 50%;
}

.thumb_info {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    -ms-flex-align: start;
    position: relative;
    left: -8px;
}

.thumb_eyebrom {
    padding-left: 24px;
    padding-top: 24px;
}

.info_thumb @media (max-width: 600px) {}