p {
  color: var(--main-w-100);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 139%;
  /* or 33px */
  letter-spacing: -0.03em;
}

h1 {
  color: var(--main-w-100);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 6vw;
  line-height: 120.5%;
  letter-spacing: -0.06em;
}

h2 {
  color: var(--main-w-100);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 5vw;
  line-height: 120.5%;
  letter-spacing: -0.06em;
}

h3 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 200;
  font-size: 2vw;
  line-height: 120.5%;
  /* or 79px */
  letter-spacing: -0.06em;
  color: var(--main-w-100);
}

h4 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 120.5%;
  /* or 79px */
  letter-spacing: -0.06em;
  color: var(--main-w-100);
}

.about {
  color: var(--main-w-50);
  font-family: var(--main-font);
  font-weight: 800;
  font-style: normal;
  font-size: 24px;
  line-height: 158%;
  /* or 22px */

  letter-spacing: -0.03em;
}

.legenda {
  color: var(--main-w-100);
  font-family: var(--main-font);
  font-weight: 800;
  font-style: normal;
  font-size: 24px;
  line-height: 129%;
  /* or 33px */
  padding-top: 26px;
  letter-spacing: -0.03em;
}

.title {
  font-family: var(--main-font);
  color: var(--main-w-100);
  font-weight: bold;
  font-size: 24px;
  line-height: 139%;
  /* or 33px */
}

.title br {
  display: none;
}

.about-bold {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 158%;
  color: var(--main-w-100);
  letter-spacing: -0.03em;
}

.p-bold {
  color: var(--main-w-100);
  font-family: var(--main-font);
  font-style: Bold;
}

.content-about-right h10 {
  padding-top: 16px;
  padding-bottom: 80px;
}

.content-about-left h10 {
  padding-top: 16px;
  padding-bottom: 80px;
}

h10 {
  font-size: 3vw;
  font-weight: 500;
  font-family: var(--main-font);
  font-style: normal;
  line-height: 3.5vw;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.55);
}

h11 {
  color: var(--main-100);

  font-family: Aktiv Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 341.38px;
  line-height: 105.5%;
  /* or 360px */

  letter-spacing: -0.08em;
}

h11-- {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 21.5vw;
  font-weight: 400;
  line-height: 102.5%;
  /* or 106px */

  letter-spacing: -0.06em;
}

h20 {
  font-family: var(--main-font);
  font-family: Aktiv Grotesk;
  font-style: normal;
  font-size: 28vw;
  font-weight: 900;
  line-height: 102.5%;
  /* or 106px */

  letter-spacing: -0.06em;

  color: #000000;
}

h5 {
  font-size: 2.5vw;
  font-weight: 500;
  font-family: var(--main-font);
  font-style: normal;
  line-height: 4vw;
  color: rgba(0, 0, 0, 0.55);
  letter-spacing: -0.09em;
}

h6 {
  font-size: 18px;
  font-weight: 300;
  font-family: var(--main-font);
  font-style: normal;
  line-height: 1.5vw;
  letter-spacing: 0.1em;
}

.bold {
  font-family: var(--main-font);
  font-weight: bold;
}

@media (max-width: 600px) {
  h1 {
    font-size: 9vw;
  }

  h3 {
    font-size: 5vw;
  }
  .box-R .title br {
    display: flex;
  }

  p {
    color: var(--main-w-100);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 139%;
    /* or 33px */
    letter-spacing: -0.03em;
  }

  .title {
    font-family: var(--main-font);
    color: var(--main-w-100);
    font-weight: bold;
    font-size: 18px;
    line-height: 139%;
    /* or 33px */
  }

  span {
    color: var(--links-color100);
  }

  span1 {
    color: var(--main-w-100);
  }

  span2 {
  }

  span3 {
    color: var(--main-w-25);
  }

  span4 {
    color: var(--main-w-90);
  }

  span5 {
    color: var(--gold-color);
  }
}
