.svg-line-bar {
    height: 15px;
}





.grid_2 {
    display: grid;

    margin: 0 auto;
}

.grid-item_2 {

    cursor: pointer;
    transition: background-color 0.3s ease;
}

.grid-item:hover {
    background-color: #ddd;
}

.grid-item .title {
    font-size: 1.2rem;
    color: #333;
}

.image-preview {
    position: absolute;
    /* Changed from fixed to absolute */
    width: 500px;
    height: 400px;
    pointer-events: none;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.05);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translate(-0%, -0%);
    z-index: 1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}